body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 235, 235);

}

/* ------- CABEÇALHO ---------- */
header {
  font-family: 'viavale';
  font-size: 30px;
  position: sticky;
  top: 0;
  border: 1px solid black;
  z-index: 100;
  text-align: center !important;
}

.navbar-brand {
  font-size: 30px !important;
}

#carouselExampleIndicators {
  width: 99%;
  margin: 0 auto;
  border: #000000 solid 5px;
  border-radius: 20px;
  margin-top: 3px;
}


@font-face {
  font-family: 'viavale';
  src: url('/fontes/big_noodle_titling_oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'texto';
  src: url('/fontes/Sansation_Light.ttf') format('truetype');
}

/* ------- QUEM SOMOS --------- */

#quemsomos {
  align-items: center;
}

.qm {
  text-align: center;
  font-family: 'viavale';
  font-size: 60px;

}

.texto {
  text-align: center;
  font-family: 'texto';
  font-weight: 300;
  font-size: 30px;
  width: 70vw;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

#imgqmsomos {
  text-align: center;
}

#imgqmsomos img {
  height: 200px;

}

/* ------ NOSSA EQUIPE ------ */

#nossaequipe {
  text-align: center;
}

.ne {
  font-family: 'viavale';
  font-size: 70px;
  margin-bottom: 80px;
}


.pessoa {
  width: 300px;
  height: 320px;
  border: 3px solid black;
  border-radius: 20px;
}

.person {
  margin-left: auto;
  margin-right: auto;
}

.fileira1 {
  display: inline-flex;
  margin-bottom: 50px;
}

.fileira2 {
  display: inline-flex;
}

#p2 {
  margin-left: 50px;
  margin-right: 50px;
}

#p5 {
  margin-left: 50px;
  margin-right: 50px;
}

figcaption {
  font-size: 30px;
  font-family: 'viavale';
  margin-bottom: 20px;
}


/* ---------- LOCALIZAÇÃO ----------- */

#localizacao {
  text-align: center;
  font-size: 90px;
  font-family: 'viavale';

}

.mapBox {
  width: 1310px;
  height: 760px;
  background-color: rgb(194, 194, 194);
  margin: 0 auto;
  border: solid 4px rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 50px;
  display: none;
}

.mapBoxMedio {
  width: 810px;
  height: 560px;
  background-color: rgb(194, 194, 194);
  margin: 0 auto;
  border: solid 4px rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 50px;
  display: none;
}

.mapBoxPequeno {
  width: 260px;
  height: 160px;
  background-color: rgb(194, 194, 194);
  margin: 0 auto;
  border: solid 4px rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 50px;
  display: none;
}

.nossoendereco {
  font-size: 80px;
}

@media (min-width:980px) {
  .quebra {
    display: none;
  }
}

.rua {
  font-size: 50px;
  font-family: 'texto';
  white-space: normal;
}

/* ------- NOSSOS SERVICÇOS --------- */
#nossosservicos {

  text-align: center;
}

.ns {
  font-family: 'viavale';
  font-size: 90px;
}

.subtitulo {
  font-family: 'viavale';
  font-size: 50px;
  margin-top: 60px;
  letter-spacing: 1px;
}

.textons {
  font-family: 'texto';
  font-size: 30px;
  width: 80vw;
  margin-top: -20px;
  margin: 0 auto;
}

#textocerti {
  margin-bottom: 30px;
}

#certificacao {
  text-decoration: none;
  background-color: #2c3c4c;
  color: white;
  padding: 12px;
  border: 1px black solid;
  border-radius: 5px;
  font-family: 'viavale';
  font-size: 25px;
  font-weight: 500
}

#certificacao:hover {
  background-color: #49515a;
}

/* ------- REDES SOCIAIS --------- */

.btn_social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#face {
  color: rgb(30, 45, 255);
}

#whats {
  color: rgb(52, 175, 35);
}

#insta {
  color: rgb(219, 18, 209);
}

.icon a {
  display: inline;
  font-size: 40px;
  width: 100px;
  height: 100px;
  padding: 20px;
  text-align: center;
  line-height: 100px;
  margin: 0 20px;
  position: relative;
  transition: 0.4s linear;

}

.icon a::before,
.icon a::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.4s linear;
}

.icon a:hover {
  transform: scale(0.8);
}

.icon a:hover::before {
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
}

.icon a:hover::after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewy(-20deg);
}

.icon {
  margin-top: -30px;
}

#interacao {
  display: grid;
  place-items: center;

}

#interacao h1 {
  font-family: 'viavale';
  font-size: 70px;
}

#interacao p {
  font-family: 'texto';
  font-size: 30px;
  font-weight: 200;
}

#interacao span {
  font-family: 'viavale';
  font-size: 35px;
}

#redes {
  font-family: 'viavale' !important;
  margin-top: 40px !important;
  font-size: 70px !important;
  margin-bottom: -20px !important;
}

/*----------- FOOTER ------------*/ 

footer {
  width: 100%;
  height: 120px;
  background-color: #3d4f61;
  border: #000000 1px solid;
}

footer img {
  height: 80px;
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
}

/* -------- LINHAS --------- */
.linha {
  background-color: rgba(168, 164, 164, 0.781);
  height: 1px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  clear: both;
}

/* ----- RESPONSIVIDADE ------- */

/* */
@media (max-width: 1305px) {
  .menu {
    gap: 60px
  }

  #contato {
    display: none;
  }
}

/* 
- TIRA O MENU QUANDO TIVER MENOS DE 1060PX NA TELA
- ARRUMA AS FOTOS DA "NOSSA EQUIPE"
*/
@media (max-width: 1360px) {
  .menu li {
    display: none
  }

  #contato {
    display: none
  }

  .fileira1 , .fileira2 {
    flex-direction: column;
    display: flex;
    margin-bottom: 0px;
  }

  #p2,
  #p5 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .pessoa {
    width: 200px;
    height: 220px;
  }

  #imgqmsomos img {
    height: 70px;
  }

  .subtitulo {
    font-size: 40px;
  }

  #interacao h1{
    font-size: 50px;
    display: flex;
    align-items: center;
  }

  #interacao p {
    font-size: 20px;
  
  }

  #interacao span {
    font-size: 20px;
  }

  #redes {
    font-size: 50px !important;
  }

  .ne {
    font-size: 50px ;
  }
}


/* EM TELAS MENOR QUE 980PX O TEXTO DO "QUEM SOMOS" FICA MENOR */
@media (max-width: 980px) {
  .texto {
    font-size: 16px;
  }

  .textons {
    font-size: 16px;
  }

  .ns {
    font-size: 50px;
  }
}

/* TELAS MENORES QUE 905PX A ESCRITA NO CABEÇALHO FICA MENOR */
@media (max-width: 905px) {
  .sistema {
    font-size: 20px;
  }
}


/* FERRAMENTA DO CABEÇALHO SÓ APARECE COM MENOS DE 1060PX*/
@media (min-width: 1360px) {
  #dropdown {
    display: none;
  }

}

/* ENDEREÇO RESPONSIVO */

@media (max-width: 1400px) {
  .rua {
    font-size: 20px;
  }

  .logo img {
    display: none;
  }
}


/* MAPA DO "LOCALIZAÇÃO" FICA MENOR*/

@media (min-width: 1350px) {
  .mapBox {
    display: block;
  }
}

@media (min-width: 1001px) and (max-width: 1349px) {
  .mapBoxMedio {
    display: block;
  }
}

@media (max-width: 1000px) {
  .mapBoxPequeno {
    display: block;
  }
}


/* ARRUMANDO A LOGO DO CABEÇALHO*/